npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
**/.DS_Store
.dockerignore
.eslintignore
.eslintrc.js
.gitignore
.github
.git
.husky
.prettierrc
.vscode
dist
logs
node_modules
Dockerfile
pm2.config.json
README.md
