.DS_Store
**/.DS_Store
.dockerignore
.eslintrc.js
.gitignore
.github
.git
.husky
.prettierrc
.vscode
dist
logs
node_modules
Dockerfile
Dockerfile.dev
nest-cli.json
README.md
tsconfig.build.json
tsconfig.json
